<div class="registro-container">
  <h2>Crear cuenta</h2>

  <form (ngSubmit)="registrarUsuario()">
    <label>Nombre completo</label>
    <input type="text" [(ngModel)]="nuevoUsuario.nombre" name="nombre" required>

    <label>Correo electrónico</label>
    <input type="email" [(ngModel)]="nuevoUsuario.correo" name="correo" required>

    <label>Contraseña</label>
    <input type="password" [(ngModel)]="nuevoUsuario.password_hash" name="password_hash" required>

    <button type="submit">Registrarse</button>
  </form>

  <p class="mensaje" *ngIf="mensaje">{{ mensaje }}</p>
  <p class="error" *ngIf="error">{{ error }}</p>

  <p class="volver-login">
    ¿Ya tienes una cuenta?
    <a (click)="irALogin()">Inicia sesión aquí</a>
  </p>
</div>
