<div class="tarjeta-main" *ngIf="solicitud; else sinSolicitud">
  <div class="card card-tarjeta">

    <!-- Imagen del usuario -->
    <div class="card__image">
      <img src="/usser.webp" alt="usuario" />
    </div>

    <!-- Contenido principal -->
    <div class="card__content">

      <div class="card__body">

        <!-- Datos del usuario -->
        <div class="card__text">
          <p class="card__title tarjeta-title">{{ usuario.nombre }} {{ usuario.apellidos }}</p>

          <ng-container *ngIf="solicitud.estado === 'aprobada' && qrGenerado; else estado">
            <p class="card__description">
              <strong>CURP:</strong> {{ usuario.curp }}<br>
              <strong>Correo:</strong> {{ usuario.correo }}<br>
              <strong>Token de acceso:</strong>
              <span class="token">{{ qrGenerado.urlqrcode }}</span>
            </p>
          </ng-container>


          <ng-template #estado>
            <p class="card__description" *ngIf="solicitud.estado === 'pendiente'">
              🕒 Estamos revisando tu solicitud.<br>
              Muy pronto estará lista.
            </p>

            <p class="card__description" *ngIf="solicitud.estado === 'rechazada'">
              ❌ Tu solicitud fue rechazada.<br>
              Puedes intentarlo nuevamente cuando desees.
            </p>
          </ng-template>
        </div>

        <!-- Espacio del QR (actualmente desactivado)
        <div class="qr-container" *ngIf="solicitud.estado === 'aprobada' && qrGenerado">
          <img 
            [src]="'https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://qrtests.netlify.app/acceso/' + qrGenerado.urlqrcode" 
            alt="QR de acceso"
          />
        </div>-->

      </div>

      <!-- Footer -->
      <div class="card__footer">

        <button *ngIf="solicitud.estado === 'rechazada'" class="btn-secundario" (click)="volverASolicitar()">
          🔁 Volver a solicitar
        </button>

        <button *ngIf="solicitud.estado === 'aprobada'" class="btn-principal" (click)="copiarToken()">
          📋 Copiar token
        </button>

        <button *ngIf="solicitud.estado === 'aprobada'" class="btn-secundario" (click)="generarQR()">
          🔄 Generar nuevo
        </button>

        <button class="btn-volver" (click)="regresarInicio()">⬅ Volver</button>
      </div>

    </div>
  </div>

  <div class="emitido">
    <p>Emitido por el <strong>Sistema de Vida Conectada</strong></p>
  </div>
</div>

<!-- No hay solicitud -->
<ng-template #sinSolicitud>
  <div class="card card-tarjeta no-solicitud">
    <div class="card__content">
      <p class="card__description">
        ¡Hola! 😃<br />
        Aún no tienes tu tarjeta.<br />
        Solicítala ahora y obtén acceso inmediato.
      </p>
      <button class="btn-secundario" (click)="solicitarTarjeta()">
        🆕 Solicitar tarjeta
      </button>
    </div>
  </div>
</ng-template>