<app-welcome-toast #toast></app-welcome-toast>

<div class="login-wrapper">
  <div class="login-container">
    <div class="logo-section">
      <div class="logo-icon">
  <img 
    src="/logo.webp" 
    alt="Logo médico" 
    class="login-logo-img"
    width="180"
    height="180"
  />
</div>

      <h1 class="app-title">Vida Conectada</h1>
      <h2 class="welcome-text">Bienvenido de vuelta</h2>
      <p class="subtitle-text">Inicia sesión en tu cuenta</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- Correo -->
      <div class="form-group">
        <label class="form-label">Correo electrónico</label>
        <input
          matInput
          type="email"
          class="form-input"
          formControlName="correo"
          placeholder="ejemplo@correo.com"
        />
        <div
          class="error-message"
          *ngIf="
            loginForm.get('correo')?.hasError('required') &&
            (loginForm.get('correo')?.touched || loginForm.get('correo')?.dirty)
          "
        >
          El correo es obligatorio
        </div>
        <div
          class="error-message"
          *ngIf="
            loginForm.get('correo')?.hasError('email') &&
            !loginForm.get('correo')?.hasError('required') &&
            (loginForm.get('correo')?.touched || loginForm.get('correo')?.dirty)
          "
        >
          Formato de correo inválido
        </div>
      </div>

      <!-- Contraseña -->
      <div class="form-group">
        <label class="form-label">Contraseña</label>
        <input
          matInput
          type="password"
          class="form-input"
          formControlName="password"
          placeholder="••••••••"
        />
        <div
          class="error-message"
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)
          "
        >
          La contraseña es obligatoria
        </div>
      </div>

      <!-- Botón -->
      <button type="submit" class="login-button" [disabled]="loginForm.invalid">
        Iniciar Sesión
      </button>

      <!-- Error general -->
      <p class="error" *ngIf="mensajeError">{{ mensajeError }}</p>
    </form>

    <div class="register-link">
      <div class="register-text">¿No tienes cuenta?</div>
      <a (click)="irARegistro()" class="register-button">Regístrate aquí</a>
    </div>
  </div>
</div>
